.intro {
    height: calc(100vh - 30vh);
}

.admin-card-header {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.admin-card-body {
    padding: 0 !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}
