.intro {
    height: calc(100vh - 30vh);
}

.admin-card-header {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.admin-card-body {
    padding: 0 !important;
}
