.intro {
    height: calc(100vh - 30vh);
}

.admin-card-header {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.admin-card-body {
    padding: 0 !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

/* increment command decrement button form count */
.qty {
    width: 140px;
    height: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 5px;
}

    .qty input {
        height: 100%;
        width: 100%;
        font-size: 16px;
        color: #6f6f6f;
        width: 50px;
        border: none;
        background: #f5f5f5;
        text-align: center;
    }

    .qty .qty-btn {
        width: 35px;
        font-size: 16px;
        color: #6f6f6f;
        cursor: pointer;
        display: inline-block;
    }

        .qty .qty-btn:active {
            background: #e1dcdc
        }

/* form field important mark */
.checkout__input > label > span {
    color: red !important;
}

/* cart details header */
.cart-detail > h4, .section-header > h4 {
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 25px;
}


/* Wishlist page's css */

.cart-wrap {
    padding: 40px 0;
}

.main-heading {
    font-size: 19px;
    margin-bottom: 20px;
}

.table-wishlist table {
    width: 100%;
}

.table-wishlist thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}

    .table-wishlist thead tr th {
        padding: 8px 0 18px;
        color: #484848;
        font-size: 18px;
        font-weight: 700;
    }

.table-wishlist tr td {
    padding: 25px 0;
    vertical-align: middle;
}

    .table-wishlist tr td .img-product {
        width: 72px;
        float: left;
        margin-left: 8px;
        margin-right: 31px;
        line-height: 63px;
    }

        .table-wishlist tr td .img-product img {
            width: 100%;
        }

    .table-wishlist tr td .name-product {
        font-size: 18px;
        color: #484848;
        padding-top: 8px;
        line-height: 24px;
        width: 50%;
    }

    .table-wishlist tr td.price {
        font-weight: 700;
        font-size: 18px;
        color: #1c1c1c;

    }

    .table-wishlist tr td .quanlity {
        position: relative;
    }

.total {
    font-size: 24px;
    font-weight: 600;
    color: #8660e9;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.round-black-btn {
    border-radius: 25px;
    background: #7fad39;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px #7fad39;
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    font-size: 14px;
}

    .round-black-btn:hover,
    .round-black-btn:focus {
        background: transparent;
        color: #212529;
        text-decoration: none;
    }

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.d-block {
    display: block;
}

.custom-form label {
    font-size: 14px;
    line-height: 14px;
}

.pretty.p-default {
    margin-bottom: 15px;
}

.pretty input:checked ~ .state.p-primary-o label:before,
.pretty.p-toggle .state.p-primary-o label:before {
    border-color: #8660e9;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-primary-o label:after {
    background-color: #8660e9 !important;
}

.main-heading.border-b {
    border-bottom: solid 1px #ededed;
    padding-bottom: 15px;
    margin-bottom: 20px !important;
}

.custom-form .pretty .state label {
    padding-left: 6px;
}

    .custom-form .pretty .state label:before {
        top: 1px;
    }

    .custom-form .pretty .state label:after {
        top: 1px;
    }

.custom-form .form-control {
    font-size: 14px;
    height: 38px;
}

    .custom-form .form-control:focus {
        box-shadow: none;
    }

.custom-form textarea.form-control {
    height: auto;
}

.mt-40 {
    margin-top: 40px !important;
}

.in-stock-box {
    background: #ff0000;
    font-size: 12px;
    text-align: center;
    border-radius: 25px;
    padding: 4px 15px;
    display: inline-block;
    color: #fff;
}

.trash-icon {
    font-size: 20px;
    color: #212529;
}


/* contact form */
.contact-form form input, .contact-form form textarea {
    margin-bottom: 10px !important;
}