@model ShoppingBasket.Models.ViewModels.ProductVm

@{
    ViewData["Title"] = "Products";
}

<div class="container my-5">
    <div class="my-3">
        <a asp-area="Admin" asp-controller="Product" asp-action="CreateAndUpdate" class="site-btn text-light">Add Product</a>
    </div>
    
    <div class="card">
        <div class="card-body admin-card-body">
            <div class="card-header admin-card-header">
                <h3>Products</h3>
            </div>
            <div class="row mt-4 p-4">
                @if (Model.ProductsCount <= 0)
                {
                    <p class="text-danger text-center  px-2 py-5">No Products found!</p>
                }
                else
                {
                    <table class="table table-striped" id="productsTable">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product's name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            
                        </tr>
                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        let datatable = null;
        $(document).ready(function () {
            $('#productsTable').DataTable({
            ajax: {
                url: '/Admin/Product/GetProducts',
            },
            columns: [
                { data: 'id' },
                { data: 'name' },
                { data: 'category.name' },
                { data: 'price' },
                { data: 'price' },
                {
                    data: 'id',
                    render: function (data) {
                        return `<a href="/Admin/Product/CreateAndUpdate?id=${data}" title="Edit" class="p-2 site-btn btn">Edit</a>`;
                    }
                }
            ],
            });
        })
    </script>
}
