@{
    var query = (ViewData["Child_1"] ?? string.Empty) as string;
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        <span>@ViewData["Root"]</span>
                        @if (!string.IsNullOrEmpty(query))
                        {
                            <span>&mdash; @ViewData["Child_1"]</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->