<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                @* @await Html.PartialAsync("_Categories", Model.Categories) *@
                @await Component.InvokeAsync("Category")
            </div>
            <div class="col-lg-9">
                <partial name="_SearchBox"/>
                <div class="hero__item set-bg" data-setbg="/img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br/>100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->