@model IEnumerable<Category>

<style>
    #dynamic-category li > a:hover {
        text-decoration: underline;
        text-underline: #0c0c0c;
    }
</style>

<div class="hero__categories">
    <div class="hero__categories__all">
        <i class="fa fa-bars"></i>
        <span>All Categories</span>
    </div>
    <ul id="dynamic-category">
        <li>
            <a asp-action="Index" asp-controller="Shops" asp-area="Customer">All</a>
        </li>
        @foreach (var category in Model)
        {
            <li>
                <a asp-action="Index" asp-controller="Shops" asp-route-category="@category.Id" asp-area="Customer">@category.Name</a>
            </li>
        }
    </ul>
</div>