@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-3">
                <partial name="_GoBackBtn" />
            </div>
            
            <div class="card">
                <div class="card-header admin-card-header">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="card-body my-3">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label asp-for="Input.Email" class="col-md-4 col-sm-12 col-form-label text-md-right">Enter Your Email</label>
                            <div class="col-md-6 col-sm-12">
                                <input type="email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4"></div>
                            <div class="col-md-6">
                                <button type="submit" class="w-100 btn btn-danger my-2">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
